*{
	margin: 0;
	padding: 0;
}
body{

    font-family: 'Montserrat', sans-serif;/* se agrega el tipo de
    letra para todo el archivo html*/
    
    
}
.container{   /* esta clase contiene el menu de navegación y el formulario*/
	position: relative;
	width: 100%;
	height:760px;
}
  
.container img {
	position:absolute;
	background-size:100%;
	width:100%;
	height:auto; 
	
}

.menu{
	position:fixed;  /* se agrega la posición fixed para fija el menu y que se mantenga visible siempre al deslizar el mouse*/
	width: 100%;
	height: 100px;
	background-color: transparent;
}
.caja  {    
  width: 100%;
  border: 1px solid  #fff;
  background-color:transparent;
  border-radius: 10px; 
  padding: 0; 

}
nav.menu img{

	position: fixed;
	width: 65px;
	height: 45px;
	display:inline-flex;
	position: absolute;
	left: 85px;
	margin-top:85px;
	
	}


	nav.menu ul{

	background:transparent;
	list-style: none;
	padding: 0;
	overflow: auto;
	margin: 0;
	line-height:40px;
	left: 600px;
	}
	nav.menu li{
		float:right;
		left: 500px;
		font-size: 20px;
		color: #fff;
		margin: 30px;
		margin-top:80px;
	}
	
	nav.menu a{
	text-decoration: none;
	display: block;
	color:#fff; 
}
 nav.menu a:hover{
 	background:transparent;
	color:#FF00BF;
}
 #formulario {

  position: absolute;
  top:150px;
  margin-top:500px;
  margin-left:9px;
  left: 833px;	
  width: 250px;
  margin: 25px auto;

}

.registro {

  float: left;
  width: 450px;
  padding: 10px;
  background-color: white;  
}
div.registro{

	padding-top: 40px;
	padding-left: 55px;
}

#formulario h3 {

  font-size: 10px;
  color:#352384;

}

.registro2{
	display: inline-block;
}

.registro2 h2 a{
	padding-left: 30px;
	color:#352384;
	font-size: 15px;

}

.registro2 h2 a:hover{

	color:#FF00BF;
	

}

div.registro p {
	padding-top: 10px;
	font-size: 8px;
	margin:3px; 
}

button {

    padding: 20px;
	border-radius: 7px;
	background:#FF00BF;
	border: transparent;
	color:#fff;
	
}
button {
	font-size:15px; 
}


 .ingreso a:hover{
 	position: absolute;
 	left:100px;
 	top:100px;
 	display: block;
    background:transparent;
	color:#FF00BF;
}

[type=text] {

  margin: 0 auto;
  width: 80%;
  border: 0;
  top:100px;
  border-bottom: 1px solid ;
  height: 80px;
  line-height: 45px;  
  margin-bottom: 10px;
  font-size: 1em;
  color: rgba(0,0,0,.4);
}
 
[type='text']:focus {
  outline: none;
  border-color: #53CACE;
}

#formulario h1 {

  color:#352384;
  top: 30px;
  left: 40px;
  font-size:40px;

}
#formulario h3{
  float:left;	
  color:#352384;
  top: 30px;
  left: 40px;
  font-size:15px;

}

.registro2 p {

  float: left;
  color:#352384;
  margin-top:100px; 
  font-size:20;
  margin: 50px ;
}

.info {

	background:linear-gradient(#6B2087,#2B1E66);
	position: relative;
	top:0px;
	width: 100%;
	height:800px;

}
.info img{

	position: absolute;
	width: 600px;
	height: 650px;
	left: 770px;
	top:20px;

}

.info ul {

	position: absolute;
	margin-top: 30px;
	color: #fff;
	display: block;
	left: 160px;
	top:10px;
}
.info li {
	list-style: none;
	color: #fff;
	font-size:30px;
	display:block;
	margin-top:60px;
	

}
.info li  p {
	color: #fff;
	font-size:18px;
	margin-left:0px;
	margin-top:30px;
	display: block;
	
}

.videos iframe {
	float:right;
	box-sizing: inherit;
	display: flex;
	left: 450px;
	background-size:auto;
	}

#parrafo1 h3{

	color:#333447;
	display: block;
	top:40px;
	margin-left: 60px;
}

#parrafo1 h1{

	top:50px;
	margin-left:60px;
	color:#333447;
}
#parrafo1p p {

	position: relative;
	top:30px;
	margin-left:60px;
	margin-top: 10px;
	display:block;
	color:#333447;
}
	

.video2 iframe{
	float:left;
	right: : 450px;
	top:0px;
	background-size:auto;
}


#parrafo2 h3{

	float: left;
	color:#333447;
	display: block;
	margin-top:40px;
	margin-left: 60px;
}

 #parrafo2 h1{

	float:left;
	display:flex;
	margin-top:80px;
	margin-left: 40px;
	color:#333447;
}
#parrafo2p p {

	float:left;
	top:100px;
	margin-left:60px;
	margin-top: 10px;
	display:block;
	color:#333447;
}
	

.video3 iframe{
	float:right;
	left:450px;
	top:0px;
	background-size:auto;
}
#parrafo3 h3{

	float:left;
	left: 30px;
	color:#333447;
	margin-top:40px;
	margin-left:20px;
}

 #parrafo3 h1{

 	float: left;
	margin-top:80px;
	left:40px;
	color:#333447;
}

#parrafo3p  {

    float:left;
    left:40px;
	margin-top: 10px;
	margin-left:0px;
	color:#333447;
}


div.contenido {

	position:relative;
	display: flex;
	background:#333447;
	width:100%;
	height: 600px;

}


.tabla1 ul{

	float: left;
	top:100px;
    list-style: none;
   	padding: 0;
	margin-left:80px;
	margin-top:60px;
	line-height:30px;

}
.tabla1 li{

	top:100px;
	
}

.tabla1 a {

	display: block;
	text-decoration: none;
	top:100px;
	color:#fff;
	padding-left: 10px;
}

.tabla1 a:hover{
	color:#FD0CDE;
}
.tabla2 ul{

	float: left;
	top:100px;
    list-style: none;
   	padding: 0;
	margin-left:80px;
	margin-top:80px;
	line-height:30px;

}

.tabla2 li{

	margin-top:100px;
	
}

.tabla2 a {

	display: block;
	text-decoration: none;
	top:100px;
	color:#fff;
	padding-left: 10px;
}

.tabla2 a:hover{
	color:#FD0CDE;
}

.tabla3 ul{

	float: left;
	top:100px;
    list-style: none;
   	padding: 0;
	margin-left:80px;
	margin-top:60px;
	line-height:30px;

}

.tabla3 li{

	top:100px;
	color:#fff;
	
}

.tabla3 a {

	display: block;
	text-decoration: none;
	top:100px;
	color:#fff;
	padding-left: 10px;
}

.tabla3 a:hover{
	color:#FD0CDE;
}



 #logo1 img{

	position: absolute;
	top:200px;
	left:1050px;
	width: 10%;
	height: 7%;
}

 #logo2 img{

	position: absolute;
	top:300px;
	left:1050px;
	width: 10%;
	height: 7%;
}
 #logo3 img{

	position: absolute;
	top:50px;
	left:1050px;
	width:10%;
	height:25%;
}

.fa.fa-facebook{

 	position: absolute;
    display: inline-block;
    font-size:30px;	
    color: #fff;
	width: 100px;
	height: 100px;
	left: 500px;
	top:450px;
}
.circulo2{
	position: absolute;
	border: 2px solid white;
    border-radius: 50%;
    color: #fff;
	width: 40px;
	height: 40px;
	left: 487px;
	top:443px;
}

 .fa.fa-instagram {

 	position: absolute;
    display: inline-block;
    font-size:30px;	
    color: #fff;
	width: 100px;
	height: 100px;
	left: 600px;
	top:450px;
	
}
.circulo{
	position: absolute;
	border: 2px solid white;
    border-radius: 50%;
    color: #fff;
	width: 40px;
	height: 40px;
	left: 590px;
	top:443px;
	
}

.fa.fa-twitter{

	position: absolute;
    display: inline-block;
    font-size:30px;	
    color: #fff;
	width: 100px;
	height: 100px;
	left: 700px;
	top:450px;
}
	
.circulo3 {

	position: absolute;
	border: 2px solid white;
    border-radius: 50%;
    color: #fff;
	width: 40px;
	height: 40px;
	left: 690px;
	top:443px;
}

hr{
	position: absolute;
	top:500px;
	left:200px; 
	width:800px;
	height:1px;
	color: #fff;
	background-color: #fff;
}
 .fa.fa-registered {

	position: absolute;
    display: inline-block;
    font-size:10px;	
    color: #fff;
	width: 10px;
	height:10px;
	left: 450px;
	top:530px;
}
 .fa.fa-registered p{

	display: inline-block;
    font-size:15px;	
    color: #fff;
	width: 10px;
	height:10px;
	left: 450px;
	margin-left: 5px;
}
 